/* universal styling */
* {
    width: auto;
    height: fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--heliotrope);
}

/* root */
:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: hsl(298, 57%, 70%);
    --sky-blue: #42cce1ff;
    --white: white;
    --black: #000000;
}
/* NavBar */

nav {
    display: flex;
    justify-content: space-around;

}

body{
    min-height: 1000px;
}

/* Nav. favorite & home  button*/
#fav-bttn, #home-bttn {
    padding: 30px;
    background: none;
    border: none;
    font-size: medium;
    font-weight: bolder;
    color: var(--black);
}


#fav-bttn:hover {
    color: aliceblue;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    text-shadow: var(--bright-turquoise)
}
#home-bttn:hover {
    color: aliceblue;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    text-shadow: var(--bright-turquoise)
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

p{
    padding: 10px;
}

.input-area {
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#genreInput {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1Bttn {
    padding: 10px;
    justify-content: center;
    display: inline-block;
}

ul {
    padding: 10px;
}


/* display:none hides the containers box except the starter page */

.recommend-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.hidden{
    display: none; 
}