/* universal styling */
* {
    width: auto;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* root */
:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: hsl(298, 57%, 70%);
    --sky-blue: #42cce1ff;
}

/* all style applied to page class */
/* .page {
    background-image: url(../image/wp10674103-film-roll-wallpapers.jpg);
} */

h1,
h2 {
    font-weight: bolder;
    color: white;
}
/* adding font color and size*/
h2 {
    color:rgb(171, 171, 43);
    font-size: 20px;
    font-style: italic;
    margin: 0;
    display: flex;
    justify-content: center;
    
    


}



h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(171, 171, 43);
    margin-top: 40px;
}
p {
    color: var(--white);
    margin: 15px 15px;
}

body {
    color: white;
    background-image: url(../image/wp10674103-film-roll-wallpapers.jpg);
    min-height: 1000px;
}

/* NavBar */

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 50px;
}

/* Nav. favorite & home  button*/
#fav-bttn,
#home-bttn {
    color: rgb(171, 171, 43);
    padding: 10px;
    background: none;
    border: none;
    font-size: medium;
    font-weight: bolder;
}

.title,
.subtitle {
    color: white;
}

#fav-bttn:hover {
    color: rgb(248, 248, 0);
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    text-shadow: var(--bright-turquoise)
}

#home-bttn:hover {
    color: rgb(248, 248, 0);
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    text-shadow: var(--bright-turquoise)
}

/* first page container */
.first-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 300px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;

}

.saved-favorites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
    margin-top: 20px;
}

p {
    padding: 10px;
}

#genreInput {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1Bttn {
    padding: 10px;
    justify-content: center;
    display: inline-block;
}

ul {
    padding: 10px;
}

.movie-card {
    display: flex;
    padding: 20px;
    margin: 30px 30px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline: 6px ridge var(--gin);
    outline-color: lightgray;
    outline-offset: -5px;
}

.button {
    margin: 10px;
}

body h2{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-weight: bolder;
}

/* display:none hides the containers box except the starter page */
.recommend-page,
.pick-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.movie-title {
    font-size: 30px;
}

.hidden {
    display: none;
}
.button-is-link{
    color: black ;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    text-shadow: var(--bright-turquoise)

}



    